#nav-menu {
    background-color: #333; 
    padding: 10px;
    margin:0;
  }
  
  #nav-menu ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }
  
  #nav-menu ul li {
    display: inline; 
    margin-right: 32px; 
  }
  
  #nav-menu a {
    text-decoration: none; 
    color: #fff; 
  }
  
  #nav-menu a:hover {
    text-decoration: underline; 
  }